* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #3FAF82;

    color: #fff;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ---------------------------------------------- */

.menu-icon {
    cursor: pointer;
}

.line-1,
.line-2,
.line-3 {
    border: 4px solid #fff;
    display: block;
    width: 5rem;
    border-radius: 4px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}

.line-2 {
    margin: 14px auto;
}

.menu-icon.active .line-1 {
    animation: close-one 1s ease forwards;
}

.menu-icon.active .line-2 {
    animation: close-two 1s ease forwards;
}

.menu-icon.active .line-3 {
    animation: close-three 1s ease forwards;
}

@keyframes close-one {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translateY(22px);
    }

    100% {
        transform: translateY(22px) rotate(45deg);
    }
}

@keyframes close-two {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        transform: scale(0.5);
        opacity: 0;
    }
}

@keyframes close-three {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translateY(-22px);
    }

    100% {
        transform: translateY(-22px) rotate(-45deg);
    }
}

.menu-icon .line-1 {
    animation: open-one 1s ease forwards;
}

.menu-icon .line-2 {
    animation: open-two 1s ease forwards;
}

.menu-icon .line-3 {
    animation: open-three 1s ease forwards;
}

@keyframes open-one {
    0% {
        transform: translateY(22px) rotate(-45deg);
    }

    50% {
        transform: translateY(22px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes open-two {
    0% {
        transform: scale(0.0);
        opacity: 0;
    }

    50% {
        transform: scale(0.5);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes open-three {
    0% {
        transform: translateY(-22px) rotate(45deg);
    }

    50% {
        transform: translateY(-22px);
    }

    100% {
        transform: translateY(0);
    }
}